#sideNav {
    background: linear-gradient(180deg , #7a0b0b ,#33063a);
}
#喜歡的音樂 h2 {
    color: #840606; 
}
#興趣 h2 {
    color: #7c0a0a; /* 天藍色 */
}
#專長 h2 {
    color: #7c0a0a; /* 天藍色 */
}
#社團經歷 h2 {
    color: #7c0a0a; /* 天藍色 */
}
#教育 h2 {
    color: #7c0a0a; /* 天藍色 */
}
#趙翊岑 h1{
    color: #750404;
}
